@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    margin: 5px;
    padding: 5px;
}

header {
    background-color: #c05905;
}

header > h1 {
    text-align: center;
}

nav > a {
    background-color: #D2B48C;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    color: black;
}

h1, h2 {
    padding: 20px 0px 20px 0px;
}

table {
    width: 300px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

tbody tr:nth-child(even) {
    background-color: #A67B5B;
}

tbody tr:nth-child(odd) {
    background-color: #f7ccab;
}

#isug {
    margin-bottom: 10px;
}